:root{
    --vermelho: #E50914;
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/

body{
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/*
header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
}
*/

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #FFF;
}

/*filme pricipal*/
.filme-principal{
    font-size: 16px;
    font-family: 'Arial';
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50) 100% ), url('../img/gambito.jpg');
    height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center; /*para que os elementos fiquem centralizados*/
    align-items: flex-start; /*para não ficar tudo centralizado*/
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px; /*A div sempre vem por padrão como block*/
}

.titulo{
    margin-top: 10%;
    font-size: 22px;
    margin-bottom: 10px;
}
.botoes{
    margin-bottom: 20%;
}
.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;

}

.botao i{
    margin-right: 8px;
}

.netflix-icon{
    height: 30px;
    margin: 15px 5px;
}

.container{
    margin-left: 5%;
}

.filme-principal .container{
    width: 500px;
}

.logo{
    margin-top:20%;
    width: 450px;
}

.container span{
    color: gray;
}

.estrelando{
    margin-bottom: 5px;
}

.criacao{
    margin-bottom: 20px;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

.carrosel{
    margin-top: 10px;
}